/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* basic stuff */
/************************************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* shrink the font on smaller screens */
@media screen and (max-width: 1350px) {
    body {
        font-size: 10pt;
    }
}

p {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans";
    /*height: 100%;*/
}

body {
    background: #1c2b2d;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    font-weight: 400;
    line-height: 1.5;
}

/* header */
/************************************************************/

header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 60px;
    flex: none;
    -webkit-flex: none;
    background: #1c2b2d;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header > div, header > div > div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
}

header > div * {
    margin: 7px;
}

header > h1 {
    position: relative;
    font-family: 'Gravitas One', cursive;
    margin: auto;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    color: #E7F2F9;
}

#header-items {
    justify-content: space-between;
    width: calc(100% - 300px);
}

#menu-btn {
    height: 100%;
    /* flex-direction: column; */
}

#menu-nav {
    display: none;
    background: rgba(230,213,184,1);
    border-top: 3px solid rgba(46, 105, 140, 1);
    margin: 0;
    position: absolute;
    top: 60px;
    z-index: 1000;
}

#menu-nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu-icon {
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding: 21px 10px 0 10px;
}

#menu-icon:hover {
    background: rgba(67,153,204,0.8);
}


.bar {
    width: 25px;
    height: 4px;
    display: block;
    opacity: .9;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    position: relative;
    background-color: #d1bd7d;
    margin: 0 0 4px 0;
}

/* menu bar */
.navbar {
    border: 0;
    border-radius: 0;
    background: #e6d5b8;
  }
.container-fluid {
	display: flex;
}
  .navbar ul {
    flex-direction: initial;
	  position: absolute;
	  right: 10px;
  }
  .navbar .nav li > a, .navbar .navbar-brand {
    max-height: 50px;
    width: auto;
    background: transparent !important;
    font-size: 18px;
    transition: 0.2s ease-in-out;
  }
  .navbar .nav li > a:hover, .navbar .navbar-brand:hover {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
  }
  .navbar .nav li > a:hover .link, .navbar .navbar-brand:hover .link {
    width: 100%;
    padding: 0 5px 0 5px;
    visibility: visible;
    font-size: 18px;
    text-decoration: none !important;
    font-family: "Roboto Slab";
  }
  .navbar .link {
    width: 0;
    font-family: "Roboto Slab";
    transition: 0.2s ease-in-out;
    visibility: hidden;
    font-size: 0px;
  }
  .navbar span {
    color: #212529;
  }

  .navbar .dropdown ul {
      cursor: pointer;
  }

  .navbar .dropdown .fa-caret-down {
    padding-left: 3px;
    font-size: 18px;
    transition: 0.4s ease;
  }
  .navbar .dropdown.open {
    background-color: rgba(230, 213, 184, 0.2);
    font-size: 14px;
  }
  .navbar .dropdown.open .link {
    width: 100%;
    visibility: visible;
    font-size: 14px;
    padding: 0 5px 0 5px;
  }
  .navbar .dropdown.open .fa-caret-down {
    transform: rotate(180deg);
  }
  .navbar .dropdown .dropdown-menu {
    min-width: 0px !important;
    width: 100%;
    background: rgb(250, 240, 223);
    color: #212529;
    text-align: center;
    border-radius: 0;
    position: absolute;
    z-index: 12;
    border-top: none;
    padding: 0;
      min-height: 240px;
    /* display: none; */
  }
  .navbar .dropdown .dropdown-menu li, .navbar .dropdown .dropdown-menu a {
    color: #212529;
    font-size: 14px;
    line-height: 30px;
  }
  .navbar .dropdown .dropdown-menu li:hover, .navbar .dropdown .dropdown-menu a:hover {
    color: #212529;
    letter-spacing: 1px;
    background: transparent;
  }
  .navbar .dropdown .dropdown-menu a {
    padding: 0 15px 0 15px;
  }

  .dropdown-toggle::after {
      display: none;
  }

  .navbar-nav li {
    padding: 5px 18px;
  }

/* .menu-bar{
    background-color: #e6d5b8;
    font-family: 'Roboto Slab', serif;
    display: flex;
    border-top: 6px solid #1c2b2d;
    position: relative;
    width: -webkit-fill-available;
}

*/ 
.menu-bar_title {
    font-family: 'Times New Roman', Times, serif;
    color: #1c2b2d;
    /* margin: 5px 0 5px 40px; */
    font-size: 29px;
    min-width: fit-content;
    font-weight: 600;
    position: relative;
} 




/* loading pane */
/************************************************************/

.view-loading {
    display: flex;
    display: -webkit-flex;
    margin: 40px auto;
    padding: 60px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background: #1c2b2d;
}

.view-loading > #msg-loading {
    font-size: 40pt;
    color: #ffffff;
}

.intro-msg {
    display: table;
    font-family: "Open Sans";
    color: white;
    background-color: #1c2b2d;
    margin: 0;
    padding: 25px;
    z-index: 1;
}

#alpha-msg > p {
    margin: 200px 200px 20px;
    font-size: 150%;
}
#alpha-msg > button {
    margin: auto;
    font-size: 300%;
    height: auto;
}
/* main area and two main vertical divs */
/************************************************************/

#main {
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    /* min-height: 620px; */
    background: #1c2b2d;
    position: relative;
    height: 100vh;
}

#main-view-game {
    width: 55%;
    background: #1c2b2d;
    padding: 0;
    position: absolute;
    right: 0;
    height: -webkit-fill-available;
    overflow: hidden;
}

#main-view-code {
    position: absolute;
    left: 0;
    width: 45%;
    display: flex;
    background: #1c2b2d;
    height: -webkit-fill-available;
    overflow: hidden;
}



#blocklyLabels .blocklyLabels_block{
    width: 159px !important;
    background-color: aliceblue;
    font-size: 16px;
    padding: 1px 14px;
    text-align: left;
    color: #1f6f8b;
    border: 2px #1f6f8b solid;
    border-radius: 10px;
    margin-bottom: 5px;
}

.blocklyLabels_block .label-large {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
}


#code-area {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    height: 100%; /* required for minimized FF, don't know why */
    background: #1c2b2d;
}

#blockly {
    border: none;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

/* Game controls, buttons and sliders */
/************************************************************/

.game-controls-bar {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    /*padding: 5px 0;*/
    background-color: #1F6F8B;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.game-control {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    width: 50%;
}

.game-control.disabled {
    background: rgba(150, 150, 150, 0.7);
}

p.game-control {
    font-size: 16pt;
    padding: 10px;
}

div.game-control {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 5px;
}

.game-control_category{
    display: block;
    text-align: center;
    padding: 0 15px;
    width: 50%;
}

div #camera-controls .game-control_category {
    width: 33%;
}

.game-control_title {
    color: white;
    margin: 0 auto;
    font-family: 'Roboto Slab';
    text-align: center;
}

.game-control_buttons {
    display: flex;
    position: relative;
}

.camera-controls_text{
    font-size: 18px;
    line-height: 1;
    font-family: 'Roboto Slab';
    margin: 0 5px 0 5px;
}

.tools-debug {
    margin: 5px;
}

.control-element {
    margin: 0 2px 0 0;
}


header button, .control-btn, .control-icon-btn {
    display: block;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #d1bd7d;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.control-icon-btn {
    background-color: transparent;
    color: white;
    width: 50%;

}


.control-icon-btn .fa-lg {
    font-size: 24px;
    line-height: 1.2em;
    vertical-align: -15%;
    margin: 0 auto;
}

#game-controls-bar-bottom {
    flex-direction: column;
    -webkit-flex-direction: column;
    background-color: #1c2b2d;
    max-height: 22vh;
    min-width: 140vh;
}

.goal-section{
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 16px;
    text-align: left;
    display: block;
    min-height: 23vh;
    max-height: 22vh;
    padding: 20px;
    width: 100vh;
    /*right: 600px;*/
    /*position: absolute;*/
}

.goal-section_title{
    font-size: 18px;
    display: flex;
}

.hint-section {
    position: absolute;
    display: flex;

    right: 15px;
    bottom: 67px;

}

#btn-show-hint .fa-lg {
    font-size: 1.33333333em;
    line-height: 1.25em;
    vertical-align: -15%;
    text-align: center;
    left: 9px;
    position: relative;
}

.hint-button{
    background-color: #ffffff;
    color: black;
    /* width: 38px; */
    position: absolute;
    text-align: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 1.5;
    display: flex;
}
.hint-text{
    position: absolute;
    bottom: -70px;
    font-size: 21px;
    color: #ffffff;
    background: transparent;
}

#time-controls {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.btn-time-slider {
    margin: 10px;
    height: auto;
}

.btn-time-slider.disabled {
    background-color: #CDCDCD;
    border-color: rgb(100,100,100);
}

/* run/pause/step/undo buttons */
/************************************************************/

#game-control-bar-playback {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    padding: 21px 10px;
    padding-top: 78px;
}

.game-control-btn-playback {
    display: block;
    font-weight: bold;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: "Roboto Slab";
}

#btn-run, #btn-pause.active {
    background-color: #E6E6E6;
    font-family: "Roboto Slab";
    font-size: 18pt;
}

#btn-run {
    font-size: 18pt;
    height: 85px;
    /* top: -10px; */
    padding-bottom: 19px;
    line-height: 1;
    padding: 8px;
    font-family: "Roboto Slab";
}


#btn-run.active {
    background-color: transparent;
    color: #E6E6E6;
    border: 3px solid #E6E6E6;
    font-size: 18pt;
    line-height: 1.0;
}

#btn-pause {
    background-color: #BBB;
    color: #777;
    height: 40px;
    line-height: 36px;
    /*font-size: 20pt;*/
}

#btn-pause.active {
    /*font-size: 2   FF0pt;*/
    background-color: #E6E6E6;
    background-color: #BBB;
    color: #777;
}

#btn-revert.disabled {
    background-color: #E6E6E6;
}

#btn-step, #btn-undo {
    background-color: #E6E6E6;
    height: 40px;
    line-height: 36px;
    /*font-size: 17pt;*/
}

#btn-step.disabled {
    background-color: #BBB;
    color: #777;
}

#btn-done {
    color: #fff;
    background-color: #0072F4;
}

#btn-delete, #btn-trash {
    position: absolute;
    font-size: 16pt;
    background-color: #E6E6E6;
    height: 40px;
    right: 10px;
}

/* three js */
/************************************************************/

#three-js {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: 600px;
    height: 90vh;
}

/*#three-js:after {*/
/*    padding-top: 75%;*/
/*    display: block;*/
/*    content: '';*/
/*}*/

#three-js canvas {
    display: block;
    /*width: 96% !important;*/
    height: 100%;
    padding: 0;
    margin: 0;
    /*position: absolute;*/
    /*right: 0;*/
}

/* */
/************************************************************/

#statement-counter {
    position: absolute;
    right: 15px;
    bottom: 150px;
    font-size: 18pt;
    font-family: sans-serif;
}

@-webkit-keyframes trash-arrow {
    0%   {-webkit-transform: translate(0px,0px);}
    50%  {-webkit-transform: translate(-25px,0px);}
    100% {-webkit-transform: translate(0px,0px);}
}

@keyframes trash-arrow {
    0%   {transform: translate(0px,0px);}
    50%  {transform: translate(-25px,0px);}
    100% {transform: translate(0px,0px);}
}

@-webkit-keyframes trash-arrow-reverse {
    0%   {-webkit-transform: translate(0px,0px) rotateY(180deg);}
    50%  {-webkit-transform: translate(25px,0px) rotateY(180deg);}
    100% {-webkit-transform: translate(0px,0px) rotateY(180deg);}
}

@keyframes trash-arrow-reverse {
    0%   {transform: translate(0px,0px) rotateY(180deg);}
    50%  {transform: translate(25px,0px) rotateY(180deg);}
    100% {transform: translate(0px,0px) rotateY(180deg);}
}

#attention-arrow {
    position: absolute;
    width: 75px;
    display: none;
    z-index: 2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.slider-labels {
    display: flex;
    display: -webkit-flex;
    width: auto;
}

.slider-labels > span {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    font-family: "Ubuntu Mono";
    font-weight: bold;
}

.slider-container {
    height: 43px;

    padding: 0 30px;
    background-color: transparent;
    display: flex;
}

#slider .ui-slider-handle {
    background: #d1bd7d;
    border-color: black;
}

/* Puzzle selector */
/************************************************************/

#selector-puzzle {
    margin: 30px;
    z-index: 1;
}

#selector-puzzle svg {
    display: block;
    margin: auto;
    background: #1c2b2d;
}

#selector-puzzle .node rect {
    /*stroke: #333;*/
    /*stroke-width: 1.5px;*/
    fill: #fff;
}

#selector-puzzle .node, .clickable {
    cursor: pointer;
}

#selector-puzzle .edgeLabel rect {
    fill: #fff;
}

#selector-puzzle .edgePath {
    stroke: white;
    stroke-width: 2px;
    fill: white;
}

.selector-instructions {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16pt;
    color: white;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
}

/* pack selection */
/************************************************************/

#selector-pack {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    background-color: #fff;
    align-items: center;
    -webkit-align-items: center;
    z-index: 1;
    min-height: 400px;
    margin: 10px;
}

@-webkit-keyframes bounce-up {
    0%   {-webkit-transform: translate(0px,0px);}
    50%  {-webkit-transform: translate(0px,-10px);}
    100% {-webkit-transform: translate(0px,0px);}
}

@keyframes bounce-up {
    0%   {transform: translate(0px,0px);}
    50%  {transform: translate(0px,-10px);}
    100% {transform: translate(0px,0px);}
}

#selector-pack-instructions {
    margin: 20px 0px 20px 0px;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 0.1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.packOptions {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.packOption {
    padding: 25px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

/* gallery */
/************************************************************/

#selector-gallery {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    background-color: #fff;
    z-index: 1;
    min-height: 800px;
    height: 100%;
}

.galleryItems {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    min-height: 100%;
}

.galleryItem {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 285px;
    padding: 25px;
    margin: 10px;
    background-color: antiquewhite;
    border-style: solid;
    border-width: 2px;
}

.galleryItem>p {
    font-size: 18pt;
    text-align: center;
    margin-bottom: 10px;
}

.galleryItem>div {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.galleryItem * img {
    width: 250px;
}

.galleryButton {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
}

.keyboard-key {
    border: 1px black solid;
    border-radius: 3px;
    padding: 2px;
}

/* share screen */
/************************************************************/

#share-container {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    background-color: antiquewhite;
    border-style: solid;
    border-width: 2px;
    min-height: 600px;
}

#share-message {
    padding-top: 20px;
    font-style: bold;
    font-size: 24pt;
}

#share-body {
    height: 400px;
    width: 750px;
    padding: 10px;
}

#share-thumb {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

/* dialogs */
/************************************************************/

#dialog {
    position: absolute;
    z-index: 1;
}

.dialog-content {
    background-color: rgba(59,54,36,0.50);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px;
    font-family: "Ubuntu Mono";
    color: aliceblue;
}

#dialog button {
    color: #000;
}

.dialog-icon {
    float: left;
    padding-right: 10px;
    position: relative;
    height: 75px;
    box-sizing: content-box;
}

/* Consent form */
/************************************************************/

#btn-consent-continue {
    display: inline-block;
    font-size: 300%;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0 0 200px;
}

/* misc */
/************************************************************/

.no-transition {
    transition: none !important;
}

/* code entry */
/************************************************************/

#code-entry {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1c2b2d;
}

#code-entry-area {
    font-size: 8pt;
    height: 100px;
    flex-grow: 1;
    background: #1c2b2d;
}

#btn-code-entry {
    margin: 10px;
    height: 40px;

}
